@import url('./base');

:root {
  --bgcolor: #fff;
  --fgcolor: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #000;
    --fgcolor: #fff;
  }
}

body {
  background-color: var(--bgcolor);
  color: var(--fgcolor);
}